<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBoot Default" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="DesktopFX.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.ak.fx.desktop.FxApplication" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <option name="UPDATE_ACTION_UPDATE_POLICY" value="UpdateResources" />
    <option name="FRAME_DEACTIVATION_UPDATE_POLICY" value="UpdateResources" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>